body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

h2 {
    background: #003366;
    color: white;
    padding: 10px;
}

.box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: #003366;
    color: white;
    border: none;
    cursor: pointer;
}

.bus-card {
    background: white;
    padding: 15px;
    margin: 10px auto;
    width: 350px;
    border-radius: 6px;
}

.seats {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    justify-content: center;
}

.seat {
    padding: 15px;
    background: green;
    color: white;
    cursor: pointer;
}

.seat.selected {
    background: blue;
}

.ticket {
    background: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    border: 2px dashed #003366;
}