body {
    font-family: Arial;
    background: #eef2f7;
    text-align: center;
}

h2 {
    background: #003366;
    color: white;
    padding: 12px;
}

.box {
    background: white;
    padding: 20px;
    width: 320px;
    margin: auto;
    border-radius: 8px;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    background: #003366;
    color: white;
    border: none;
    cursor: pointer;
}

.cruise-card {
    background: white;
    padding: 15px;
    margin: 12px auto;
    width: 380px;
    border-radius: 6px;
}

.seats {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    gap: 12px;
    justify-content: center;
}

.seat {
    padding: 15px;
    background: green;
    color: white;
    cursor: pointer;
}

.seat.selected {
    background: blue;
}

.ticket {
    background: white;
    width: 380px;
    margin: auto;
    padding: 20px;
    border: 2px dashed #003366;
}